# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
/config/jwt/private.pem
/config/jwt/public.pem
# PHP / Symfony
/backend/vendor/
/backend/var/
/backend/.env.local

# Node (si hay frontend web)
/frontend/node_modules/
/frontend/dist/

# Logs
*.log